.App {
  text-align: center;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.black-nav {
  flex-direction: column;
  position: fixed;
  background: rgb(205, 205, 205);
  width: 100%;
  height: 9vh;
  /* color: white; */
  padding : 20px;
}



.First-Div{
 height: 100vh;
 font-size: 20px;
 font-weight: bold;
}

.Second-Div{
  height: 100vh;
  font-size: 20px;
  font-weight: bold;
  background: #e9ecef;
}

.emoji-github{
  background-image: url(./image/git-hub.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  margin-right: 10px;
  height: 50px;
  width: 50px;
}

.emoji-tistory{
  background-image: url(./image/tistory.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  margin-right: 10px;
  height: 50px;
  width: 50px;
}

.emoji-instagram{
  background-image: url(./image/instagram.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  margin-right: 10px;
  height: 50px;
  width: 50px;
}

.asd{
    position: absolute;
     top:35%;
     left:50%;
     transform: translate(-50%, -50%);   
     /* font-weight : bold;  */
     /* font-size:5rem; */
     /* z-index: 2; */
     /* text-align: center; */
}

.background-ima{
  background-image: url(./image/background-ima.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  position: 'relative'; 
  height: 50vh ;
  /* width: 50%; */
  /* margin-right: 10px; */
  /* height: 50px;
  width: 50px; */
}

.Footer-div{
  display: flex;
  flex-direction: column;
  background-color: #675D50;
  width: 100%;
  height:14vh;
  align-items: center;
  justify-content: center;
  color : white;
}

.Footer-div2{
  display: flex;
  margin-bottom: 10px;
}

table.type03 {
  float: center;
  margin: 2rem auto;
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  border-bottom: 1px black;

  /* margin : 30px 10px; */
}
table.type03 th {
  width: 147px;
  padding: 10px;
  font-weight: bold;
  border-bottom: 1px solid black;
  text-align: center;
  /* vertical-align: top; */
  color: #153d73;


}
table.type03 td {
  width: 349px;
  padding: 10px;
  text-align: center;
  /* vertical-align: top; */
  border-bottom: 1px solid black;


}