.App {
  text-align: center;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  color: black;
}
.black-nav {
  position: fixed;
  justify-content: space-between;
  background: #D9D9D9;
  width: 100%;
  height: 9vh;
  color: white;
  padding : 20px;
}

.a-tag{
  margin-right: 13px;
  text-decoration-line: none;
  color: black;
}

.First-Div{
 height: 91vh;
 font-size: 20px;
 font-weight: bold;
 background: rgb(205, 205, 205);
}

.Second-Div{
  height: 91vh;
  font-size: 20px;
  font-weight: bold;
  background: rgb(205, 205, 205);
}

.emoji-github{
  background-image: url(./image/git-hub.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  margin-right: 10px;
  height: 50px;
  width: 50px;
}

.emoji-tistory{
  background-image: url(./image/tistory.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  margin-right: 10px;
  height: 50px;
  width: 50px;
}

.emoji-instagram{
  background-image: url(./image/instagram.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  margin-right: 10px;
  height: 50px;
  width: 50px;
}



.background-text{
  display: block;
}

.background-ima{
  background-image: url(./image/background-ima.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  position: 'relative'; 
  height: 50vh ;
  /* width: 50%; */
  /* margin-right: 10px; */
  /* height: 50px;
  width: 50px; */
}

.project-ima{
  background-image: url(./image/project-ima.jpg);
  background-position: center;
  /* object-fit: contain; */
  background-size: 100% 100%;
  /* background-size: cover; */
  /* text-align: center; */
  /* position: 'relative';  */
  height: 40vh ;
}

.Footer-div{
  display: flex;
  flex-direction: column;
  background-color: #675D50;
  width: 100%;
  height:18vh;
  align-items: center;
  justify-content: center;
  color : white;
}

.Footer-div2{
  display: flex;
  margin-bottom: 10px;
}

table.type03 {
  float: center;
  margin: 2rem auto;
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  border-bottom: 1px black;

  /* margin : 30px 10px; */
}
table.type03 th {
  width: 147px;
  padding: 10px;
  font-weight: bold;
  border-bottom: 1px solid black;
  text-align: center;
  /* vertical-align: top; */
  color: #153d73;


}
table.type03 td {
  width: 349px;
  padding: 10px;
  text-align: center;
  /* vertical-align: top; */
  border-bottom: 1px solid black;


}




/*skills아이콘 start*/
.java-icon{
  background-image: url(./image/java-icon.png);
  background-size: cover;
}

.node-icon{
  background-image: url(./image/node-icon.png);
  background-size: cover;
}

.mybatis-icon{
  background-image: url(./image/mybatis-icon.png);
  background-size: cover;
}

.css3-icon{
  background-image: url(./image/css3-icon.png);
  background-size: cover;
}

.html5-icon{
  background-image: url(./image/html5-icon.png);
  background-size: cover;
}

.js-icon{
  background-image: url(./image/js-icon.png);
  background-size: cover;
}

.jquery-icon{
  background-image: url(./image/jquery-icon.png);
  background-size: cover;
}

.react-icon{
  background-image: url(./image/react-icon.png);
  background-size: cover;
}

.redux-icon{
  background-image: url(./image/redux-icon.png);
  background-size: cover;
}

.mysql-icon{
  background-image: url(./image/mysql-icon.png);
  background-size: cover;
}

.mongodb-icon{
  background-image: url(./image/mongodb-icon.png);
  background-size: cover;
}

.express-icon{
  background-image: url(./image/express-icon.png);
  background-size: cover;
}

.next-icon{
  background-image: url(./image/next-icon.png);
  background-size: cover;
}

.flutter-icon{
  background-image: url(./image/flutter-icon.png);
  background-size: cover;
}

.linux-icon{
  background-image: url(./image/linux-icon.png);
  background-size: cover;
}

.springboot-icon{
  background-image: url(./image/springBoot-icon.png);
  background-size: cover;
}

.github-icon{
  background-image: url(./image/gitHub-icon.png);
  background-size: cover;
}

.slack-icon{
  background-image: url(./image/slack-icon.png);
  background-size: cover;
}

.mariadb-icon{
  background-image: url(./image/mariadb-icon.png);
  background-size: cover;
}
